<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<div th:insert="fragments/_head :: head"></div>
<body>
    <div th:insert="fragments/_header :: header"></div>
    <div id="wrapper">
        <h1>Release the Tension in Your Abdomen</h1>
        <p>This is probably the most important step</p>
        <hr>
        <p>So many people including me always hold in their bellies instead of letting it out without realizing it</p>
        <hr>
        <p>This prevents us from calming down and letting food make it down our stomach</p>
        <hr>
        <p>Try to relax your stomach and let out your belly by releasing any tension you can find</p>
        <hr>
        <p>Breathing slowly helps with this since it calms you down</p>
        <hr>
        <img th:src="@{/images/belly.png}"><br>
        <a href="https://www.quora.com/Is-it-true-that-breathing-with-your-diaphragm-is-healthier">Image Source</a>
    </div>
    <div th:insert="fragments/_footer :: footer"></div>
</body>
</html>